@media only screen and (max-width: 600px){
  
  /*-------------------------------Nav*/

  nav ul{
    display: none;
}
  
  nav img{
    width: 80%;
    align-self: center;
  }

  nav h1{
    font-size: 2rem;
  }

  nav section p{
    font-size: 1.5rem;
  }
  
  nav section+a{
  display: flex;
  justify-self: end;
  align-self: center;
  padding-right: 20px;
  }

  /*-------------------------------Header*/

  header{
  display: grid;
  grid-template-columns: 1fr;
  max-width: 95%;
  }

  header img{
  width: 100%;
  }

  /*--------------------------------HeaderErvaring*/

  .header-ervaring{
  line-height: 30px;
  }

  /*--------------------------------Main*/

  main{
  grid-template-columns: 1fr;
  max-width: 95%;
  }

  main section{
    padding: 3%;
    grid-row: 2/3;
  }

  main ul{
    line-height: 30px;
  }

  /*---------------------------------MainErvaring*/

  .main-ervaring{
  line-height: 30px;
  }

  /*---------------------------------aside*/

  aside{
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 95%;
  }

  aside section{
    line-height: 30px;
  }

  aside section+img{
  grid-column: 1/3;
  }

  /*---------------------------------AsideVaardigheden*/
  
  .aside-vaardigheden{
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 0.2fr 1.5fr;
  max-width: 95%;
}
}