@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    font-family: "Inter", sans-serif;
}

/*--------------------------------------------------nav*/
nav{
    background-color: #0041A0;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
}

nav ul li{
    font-size: 16px;
    margin: 3%;
    font-style: none;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    text-align: center;
}

nav a:hover {
    color: #ffcc00;
  }

nav section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

nav img{
    width: 50%;
    padding: 4%;
    justify-self: center;
}

nav section h1{
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
}

nav section p{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    color: white;
}

nav section p, nav section h1{
    padding-top: 2.5%;
}

/*-------------------------------------------------Header*/

header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin: auto;
  margin-bottom: 10%;
}

header img{
  width: 70%;
  border-radius: 10px;
}

header section{
  padding: 3%;
  color: rgb(0, 0, 0);
  text-align: left;
  line-height: 23px;
}

/*-------------------------------------------------header ervaring*/

.header-ervaring{
  line-height: 40px;
}

/*-------------------------------------------------Main*/

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin: auto;
}

main section{
  padding-top: 8%;
  color: rgb(0, 0, 0);
}

main ul{
  padding-top: 5%;
  line-height: 35px;
}

main img{
  border-radius: 10px;
}

/*-------------------------------------------------main ervaring*/

.main-ervaring{
  line-height: 60px;
}

/*-------------------------------------------------Footer*/
.site-footer {
    background-color: #0041A0;
    color: #f1f1f1;
    padding: 2rem 1rem;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5%;
  }
  
  .footer-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .footer-copy{
    padding-bottom: 0.7%;
  }

  .footer-mail{
    color: #472244;
  }
  
  .footer-note {
    margin-top: 1rem;
    font-style: italic;
    color: #999;
  }
  
  /* Responsive font size for small screens */
  @media (max-width: 600px) {
    .site-footer {
      font-size: 0.85rem;
    }
  }
  